<% if (success && success.length > 0) { -%>
<div data-theme="green" class="content-block-title"><%= success %></div>
<% } -%>

<% if (error && error.length > 0) { -%>
  <div data-theme="red" class="content-block-title "><%= error %></div>
<% } -%>