<div class="speed-dial">
  <a class="floating-button">
    <i class="icon icon-plus"></i>
    <i class="icon icon-close"></i>
  </a>
  <div class="speed-dial-buttons quickly-dial-text">
    <a href="/share">
      <i class="icon material-icons">edit</i>
      <span>分享</span>
    </a>
    <a href="/ask/create">
      <i class="icon material-icons">help_outline</i>
      <span>提问</span>
    </a>
  </div>
</div>