<%- include('header') %>
<%- include('components/navbar', { config: { title: '评论' } }) %>
<div data-page="comments" class="page">
  <div class="page-content">
    <% if(comments && comments.length > 0){ %>
      <div class="list-block media-list comments-list">
        <ul>
         <% comments.forEach(comment => { %>
           <%- include('components/comment-item', { comment }) %>
         <% }) %>
        </ul>
      </div>
    <% } %>
  </div>
  <div class="toolbar toolbar-bottom comments-toolbar">
    <div class="toolbar-inner">
      <form class="list-block" method="post">
       <div class="align-top">
         <div class="item-content">
           <div class="item-inner">
             <div class="item-input">
               <textarea id="J_textarea" class="resizable" name="content" placeholder="添加评论"></textarea>
             </div>
           </div>
           <button disabled="disabled" id="J_btnSend" class="item-media">
             <i class="icon material-icons">send</i>
           </button>
         </div>
       </div>
      </form>
    </div>
  </div>
</div>
<%- include('footer') %>