/*global avatar*/
.avatar{
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

[data-page=signup] .tabbar{
  display: flex;
}
[data-page=signup] .btn-vcode{
  position: absolute;
  right: 0;
  top: 0;
}


.other-signin{
  margin-top: 30px;
}
.signin-divider{
  position: relative;
  text-align: center;
}
.signin-divider .divider-left,
.signin-divider .divider-right{
  position: absolute;
  top: 50%;
  margin-top: -0.5px;
  width: 30%;
  height: 1px;
  background-color: #ebebeb;
}
.layout-dark .signin-divider .divider-left,
.layout-dark .signin-divider .divider-right{
  background-color: rgba(255, 255, 255, .4);
}
.signin-divider .divider-left{
  left: 16px;
}
.signin-divider .divider-right{
  right: 16px;
}
.signin-divider .divider-text{
  font-size: 12px;
}
.other-signin .ways-signin{
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.layout-dark .ways-signin a{
  color: #fff;
}
.list-block .ways-signin:before{
  display: none;
}
.ways-signin li{
  flex: 1;
  text-align: center;
  font-size: 14px;
}
.ways-signin li .icon{
  font-size: 30px;
}


/*the prefix of a class named by the attribute of the data-page */
.sign-card .card-header{
  display: block;
}

.sign-card .ks-avatar{
  float: left;
}
.ks-avatar img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.sign-card .ks-desc, .sign-card .ks-name{
  margin-left: 55px;
  color: #8e8e93;
}
.sign-card .ks-name{
  font-weight: 500;
  color: #333;
}
.layout-dark .sign-card .ks-name{
  color: rgba(255, 255, 255, .77);
}
.sign-card .ks-desc.pt-10{
  padding-top: 10px;
}

.quickly-dial-text a{
  overflow: auto;
}
.quickly-dial-text span{
  position: absolute;
  top: 1px;
  left: -60px;
  padding: 4px;
  border: 1px solid rgba(0, 0, 0, .12);
}


.topics-item a{
  color: #333;
}
.layout-dark .topics-item a{
  color: rgba(255, 255, 255, .77);
}
.topics-item .topics-title{
  font-weight: 500;
  font-size: 16px;
  padding: 16px 16px 0;
}
.topics-item .card-header,
.topics-item .card-footer{
  justify-content: flex-start;
}
.card-header span{
  padding-left: 10px;
}
.card-footer span:nth-child(2){
  padding: 0 8px;
}
.topics-buttons{
  justify-content: flex-end;
}
.topics-buttons .button{
  width: auto;
}


.user-list-block ul:before{
  display: none;
}
.user-list-block .radio-content{
  padding-left: 0;
  justify-content: flex-start;
}
.user-list-block .radio-content .label-radio{
  padding-left: 0;
}
.user-list-block .radio-content .radio-text{
  display: flex;
  margin-left: 0;
}
.user-item-file{
  position: relative;
}
.user-item-file input[type="file"],
.user-item-file span{
  position: absolute;
  top: -7px;
  left: 50%;
  width: 50px;
  height: 50px;
  margin-left: -25px;
  border-radius: 50%;
}
.user-item-file input[type="file"]{
  opacity: 0;
}
.user-item-file span{
  pointer-events: none;
}
.user-item-file span.avatar-default{
  background: url('../images/moren.png') center no-repeat;
  background-size: cover;
}
.user-item-file:after{
  display: none;
}


.topic-title{
  font-size: 18px;
  font-weight: 600;
}
.topic-item .card-header{
  justify-content: flex-start;
}
.topic-item .card-footer{
  justify-content: flex-end;
  font-size: 14px;
}
.topic-item.card{
  box-shadow: none;
}
.topic-toolbar .toolbar-inner{
  justify-content: flex-end;
  color: #fff;
  padding: 5px 15px;
  text-align: center;
}
.topic-toolbar.toolbar-bottom{
  height: 60px;
}
.topic-toolbar a,
.topic-toolbar button{
  color: #fff;
}
.topic-toolbar button{
  font-size: 14px;
}
.topic-toolbar .collect{
  margin-right: 30px;
}
.topic-toolbar .ups{
  position: absolute;
  left: 16px;
}
.topic-toolbar .chip{
  border-radius: 4px;
}
.layout-dark .topic-toolbar .chip-media,
.layout-dark .topic-toolbar .chip-label{
  color: #999;
}


.toolbar.comments-toolbar{
  min-height: 48px;
  height: auto;
}
.comments-toolbar .toolbar-inner{
  position: static;
}
.comments-toolbar .list-block{
  margin: 0;
  width: 100%;
}
.comments-toolbar textarea,
.comments-toolbar button{
  color: #fff;
}
.comments-toolbar .item-input-field:after{
  background-color: #fff;
}
.comments-list .item-subtitle{
  overflow-y: auto;
  white-space: normal;
  padding: 10px 0;
}
.comments-list .item-text{
  text-align: right;
}